.custom-footer {
  display: none;
}
// do not display discourse-ai's PM to bot icon on mobile
.ai-bot-button {
  display: none
}
.btn.no-text.btn-icon.ai-bot-button.icon.btn-flat {
  display: none;
}
// no Dropdown Header on mobile
.custom-header-links {
  display: none;
}
.btn-custom-header-dropdown-mobile {
  display: none
}
.custom-header-links {
  display: none
}
// translucent floating discourse-chatbot's talk-to-bot icon
.chatbot-btn {
  opacity: 0.3;
}
// change opacity on hover
//#chatbot-btn:hover {
//  width: 190px;
//  opacity: 0.9;
//}


// left align hamburger menu icon
// WARNING: this conflicts with discourse-custom-header-links TC
//.d-header {
//  display: grid;
//  grid:
//      ". . . . . . . ." auto
//      "left-menu logo extra-info header-buttons search chat anonymouspost right-menu" auto
//      ". . . . . . . ." auto
//      / auto 1fr auto auto auto auto auto auto;
//  grid-column-gap: 0.2em;
//  padding: 0 8px;
//  box-sizing: border-box;
//
//  & > .wrap {
//    &,
//    & .contents {
//      display: contents;
//    }
//  }
//
//  .panel {
//    &,
//    & > .d-header-icons {
//      display: contents;
//    }
//  }
//
//  .header-buttons {
//    grid-area: header-buttons;
//  }
//
//  .search-dropdown {
//    grid-area: search;
//  }
//
//  .wrapper .chat-header-icon {
//    html.mobile-view.not-mobile-device.text-size-normal.no-touch.discourse-no-touch.keyboard-visible body.chat-enabled.staff.navigation-topics.docked section#main.ember-application div#ember3.discourse-root.ember-view div#ember5.d-header-wrap.ember-view header.d-header div.wrap div.contents div.panel ul.icons.d-header-icons div.wrapper li.header-dropdown-toggle.chat-header-icon a.icon.btn-flat
//    grid-area: chat;
//    //display: none;
//  }
//
//  .anonymouspost-button {
//    grid-area: anonymouspost;
//  }
//
//  .hamburger-dropdown {
//    grid-area: left-menu;
//  }
//
//  .current-user {
//    grid-area: right-menu;
//  }
//
//  .extra-info-wrapper {
//    grid-area: extra-info;
//    width: calc(100vw - 100px);
//  }
//
//  // some protection for text-only site titles
//  .title {
//    grid-area: logo;
//    @if ($center_logo == "true") {
//      margin: 0 auto;
//    }
//    max-width: unset;
//  }
//
//  .home-logo-wrapper-outlet {
//    grid-area: logo;
//    @if ($center_logo == "true") {
//      margin: 0 auto;
//    }
//    max-width: unset;
//  }
//}



//.logo-mobile {
//    text-align: center;
//    display: inline-block;
//    float: none !important;
//    padding-left: 49%;
//}



//.d-header-icons {
//  display: flex;
//}


// these orders seem to be useless, as we have already specified them in preview grid block
//.header-dropdown-toggle.hamburger-dropdown {
//  order: 1;
//  justify-content: left;
//}
//
//.header-dropdown-toggle.search-dropdown {
//  order: 3;
//}
//
//
//.header-dropdown-toggle.ai-bot-button {
//  order: 6;
//}
//
//.header-dropdown-toggle.chat-header-icon {
//  order: 7;
//}
//
//.header-dropdown-toggle.playg-button {
//  order: 8;
//  display: none;
//}
//
//.header-dropdown-toggle.anonymouspost-button {
//  order: 9;
//}
//
//.header-dropdown-toggle.current-user {
//  order: 10;
//}


